* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 35px;
    font-family: 'Roboto Condensed', sans-serif;
    flex-wrap: wrap;
}
.menuicon{
    width: 50px;
    display: none;
}
.menuicon img{
    width: 100%;
}
.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu a {
    color: #000000;
    text-decoration: none;
    gap: 20px;
}

.menu a:hover {
    color: blue;
    text-decoration: underline;
}
.college{
    color:orange;
    font-family:'Roboto Condensed', sans-serif;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
    background: #eee;
    flex-wrap: wrap;

}

.alpha {
    color: white;
    background-color:blue;
    border: white;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

.sign {
    color: blue;
    background-color: white;
    border-color: blue;
    padding: 10px;
    border-radius: 5px ;
}

.heading {
    
    font-size: x-large;
    width: 45%;

}

.picture {
    width: 40%;
}

.picture img {
    width: 80%;
    /* height: 400px; */
    border-radius: 20px;
}

.button {
    color: white;
    background-color: rgb(114, 114, 234);
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;

}

#Courses {
    background-color: rgb(114, 114, 234);
    height: auto;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    

}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    /* font-family: 'Roboto Condensed', sans-serif; */
    gap: 50px;
}

#Courses h1 {
    text-align: center;
    font-weight: 200;
}
.count{
    text-align: center;
    font-size: 15px;
}
#Resources {
    margin-top: 80px;
    font-family: 'Roboto Condensed', sans-serif;
       font-size: 15px;
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 20px;
}


#Resources button {
    color: white;
    margin-bottom: 30px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    background-color: rgb(114, 114, 234);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#Home {
    background-color: rgb(184, 184, 240);
    height: 200px;
    margin-top: 80px;
}

.job {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: black;
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    flex-wrap: wrap;
}
#Signup {
    background-color: rgb(184, 184, 240);
    height: auto;
    border-bottom: 2px solid #000000;
}

.Sing {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.Amazon {
    width: 15%;
}

.Amazon img {
    width: 100%;
}

.more {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    color: black;
}

#students {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#students h3 {
    text-align: center;
    color: blue;
    font-size: 25px;
    margin-top: 50px;
}

.Study {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px 20px;
}

.selected {
    width: 35%;
    margin: 40px;
}

.selected img {
    width: 100%;
    border-radius: 5px;
}

#students  button {
    width: 200px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(21, 128, 241);
    margin-bottom: 80px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;

}

#teach {
    height: auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mission {
    text-align: center;
    margin-bottom: 50px;
}

.completeimage{
    width: 95%;
}
#teach img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.span{
   
    color: black;
}
.coll{
    color: rgb(233, 162, 30);
}
footer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic; 
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.copy{
    text-align: center;
}
#join {
    background-color: rgb(227, 227, 238);
    
   
}

.on {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: black;
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    flex-wrap: wrap;
}

#insta {
    background-color: rgb(227, 227, 238);
    height: 300px;
}

.yout {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}
.tele {
    width: 20%;
        height: 20px;
        gap: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }


.tele img {
    width: 100%;
}

@media only screen and (max-width:1000px) {
    .menuicon{
        display: inline;
    }
    .menu{
        width: 100%;
        display: none;
    }
    main{
        flex-direction: column;
    }
    .heading,.picture{
        width: 100%;
    }
    .picture{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .count{
        width: 40%;
    }
}
@media only screen and (max-width: 800px) {
    .Study{
        flex-direction: column;
    }
    .selected{
        width: 80%;
    }
}